body
  include header
  .container-fluid
    .row-fluid
      .instructions.alert.alert-info
        p
          b Instructions: Start by right clicking on composite TS_810 (found on the left side bar in red) to bring up the context menu. Items marked in red are mandatory.
        p you can fold the tree by double clicking on a node and sort nodes by dragging the text.
    .row-fluid
        .span3
          #sidebar.well.sidebar-nav
        #content.span9
