body
  include header
  .container-fluid
    .row-fluid
      #control-panel
    .row-fluid
        .span5
          #sidebar.well.sidebar-nav
        #content.span7
          .row-fluid
            #detail-panel.well
          .row-fluid
            #editor-panel.well
