body
  include header
  #loader.progress.progress-striped.active.span4
    .bar(style="width: 100%;")
  #app-panel.container-fluid.hide
    .row-fluid
      #sidebar.span5
        .sidebar-nav
      #content.span7
        .row-fluid
          #detail-panel
