body
  include header
  .container-fluid
    .row-fluid
      .instructions.alert.alert-info
        p
          b Instructions: Start by right clicking on composite TS_810 (found on the left side bar in red) to bring up the context menu. Items marked in red are mandatory.
        p you can fold the tree by double clicking on a node and sort nodes by dragging the text. you can edit the element/leaf components name by clicking on them and editing and saving the value in the editor box below.
    .row-fluid
        .span5
          #sidebar.well.sidebar-nav
        #content.span7
          .row-fluid
            #detail-view.well
          .row-fluid
            #editor-view.well
