body
  include header
  .container-fluid
    .row-fluid
        .span5
          #control-panel
          #sidebar.well.sidebar-nav
        #content.span7
          .row-fluid
            #tabs-panel
              ul.nav.nav-tabs
              #tabs-content.tab-content
          .row-fluid
            #editor-panel.well
