body
  include header
  .container-fluid
    .row-fluid
      .instructions.alert.alert-info
        p
          b Instructions: You can right click on composite TS_810 (or any other node, when present) to bring up the context menu. Items marked in red are mandatory.
    .row-fluid
        #sidebar.span3
          .well.sidebar-nav
        #content.span9
